/// St. Joseph Theme - Header Styles

.st-joseph__header{
    background-color:$primary-dark;
    text-align:center;

    .custom-logo{
        width:80%;
        height:auto;
    }
}

@media (max-width: 991px) { 
    .st-joseph__header .custom-logo{
        width:100%;
        height:auto;
        margin:20px 0px;
    }
}