$font-serif:'Libre Baskerville','Georgia','serif';
$font-sans:'Lato','Tahoma','sans-serif';

$color-primary:rgb(33, 55, 104);
$color-primary-dark:rgb(12, 21, 39);

$color-secondary:rgb(226, 163, 26);
$color-secondary-dark:rgb(150, 102, 14);