/// St. Joseph Theme - Variables

$serif:'Libre Baskerville','Georgia','serif';
$sans:'Lato','Tahoma','sans-serif';

$primary:rgb(33, 55, 104);
$primary-dark:rgb(25, 40, 70);
$primary-light:rgb(57, 84, 138);

$secondary:rgb(226, 163, 26);
$secondary-dark:rgb(150, 102, 14);