@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');

$font__main:'Lato','sans-serif';

/*
Ordinary Time*/
$color__primary:rgb(83, 0, 0);
$color__secondary:rgb(56, 0, 0);

$color__background:rgb(238, 234, 217);
$color__foreground:rgb(216, 211, 187);
$color__shadows:rgb(0,0,0);

$color__border-white:rgba(255,255,255,0.1);
$color__border-black:rgba(0,0,0,0.3);

$color__text-normal:rgb(51,51,51);
$color__text-light:rgb(100,100,100);
$color__text-link:#{'rgb(233, 221, 175)'};
$color__text-hover:rgb(255,255,255);

body{
    background-color:$color__background;
    font-family:'Lato';
    font-weight:400;
}

.st-joseph__header{
    box-shadow:0px 0px 20px $color__shadows;
    vertical-align: -webkit-baseline-middle;
    background: $color__primary;
    border-bottom:4px solid $color__secondary;
    background-color:$color__primary;
}

.st-joseph__header-banner{
    background-image:url('../images/church_background.jpg');
}

.st-joseph__header-banner-container{
	display: block;
	background: rgba(0, 0, 0, 0.5);
	background-image: radial-gradient(black 33%, transparent 33%);
	background-size: 2px 2px;
}

.st-joseph__header .logo-wrapper{
    text-align:center;
}

.st-joseph__header .custom-logo-link{
    display:inline;
}

.st-joseph__header .custom-logo{
    max-width: 100%;
    height: auto;
}

.st-joseph__header h1 a{
    text-decoration:none;
    color:$color__text-link;
}

.st-joseph__header h1 a:hover{
    color:$color__text-hover;
}

.st-joseph__header .navbar-toggler{
    width:40px;
    height:40px;
    margin:8px;
    background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$color__text-link}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.st-joseph__header .navbar{
    border-top:1px solid $color__border-white;
}

.st-joseph__header .navbar-nav > .nav-item{
    border-right:1px solid $color__border-white;
}

@media only screen and (max-width:991px){
    .st-joseph__header .navbar-nav > .nav-item{
        border-right:none;
    }

    .st-joseph__header .navbar-nav > .nav-item > a{
        padding-left:12px;
    }
}

.st-joseph__header .nav-item:last-child{
    border-right:none;
}

.st-joseph__header .nav-item{
    font-family:'Lato';
    text-transform: uppercase;
    font-size:15px;
}

.st-joseph__header .nav-item a{
    color:$color__text-link;
    letter-spacing:1px;
}

.st-joseph__header .nav-item a:hover{
    color:$color__text-hover;
    background-color:transparent;
}

.st-joseph__header .dropdown-menu{
    background-color:$color__secondary;
    border:none;
    border-radius:0px;
}

.st-joseph__header .dropdown-menu.show{
    background-color:$color__secondary;
    box-shadow:0px 0px 5px $color__shadows;
    border:none;
    border-radius:0px;
}

@media only screen and (max-width:991px){
    .st-joseph__header .dropdown-menu{
        box-shadow:none;
    }
}

.st-joseph__main .blog-post{
    border-top:1px solid $color__border-black;
}

.st-joseph__main .blog-post h2 a{
    text-decoration:none;
    color:$color__text-normal;
}

.st-joseph__main a.rsswidget{
    text-decoration: none;
}

.st-joseph__main ul li a.rsswidget{
    text-decoration: underline;
}

.st-joseph__main aside h2{
    color:$color__text-normal;
    border:1px solid $color__border-black;
    padding:10px;
    text-transform: uppercase;
    text-align:center;
    font-size:14px;
    font-family:'Lato';
    letter-spacing:1.5px;
}

.st-joseph__main aside h6{
    padding:10px 0px;
    text-transform: uppercase;
    font-size:16px;
    font-family:'Lato';
    letter-spacing:0px;
}


.st-joseph__main aside h2 a{
    color:$color__text-normal;
}

.st-joseph__main aside img.rss-widget-icon{
    display:none;
}

.st-joseph__main aside ul{
    list-style: none;
    padding:10px 0px;
    margin:10px 0px 30px 0px;
    font-size:16px;
}

.st-joseph__main a{
    color:$color__text-normal;
    text-decoration: underline;
}

.st-joseph__main a.rsswidget{
    display:block;
}

.st-joseph__main .rss-date{
    display:block;
    text-transform: uppercase;
    color:$color__text-light;
}

.st-joseph__footer{
    background-color:$color__primary;
    border-top:4px solid $color__secondary;
    vertical-align: -webkit-baseline-middle;
}

.st-joseph__footer{
    color:$color__text-link;
}

.st-joseph__footer a{
    color:$color__text-link;
}

.st-joseph__main .screen-reader-text{
    display:none;
}

.st-joseph__main p{
    margin-bottom:30px;
}

.st-joseph__main .entry-header{
    border-bottom:1px solid $color__border-black;
    margin-bottom:30px;
}

.st-joseph__main .entry-footer{
    font-size:12px;
    font-style:italic;
}

.st-joseph__main .entry-meta{
    text-transform:uppercase;
    text-decoration:none;
    font-size:12px;
    letter-spacing:2px;
}

.st-joseph__main .entry-content{
    margin-top:20px;
}

.st-joseph__main .search-form{
    margin-top:20px;
    margin-bottom:20px;
}

.st-joseph__main .search-field{
    display:block;
    padding:6px;
    border-radius:4px;
    border:none;
    background-color:white;
}

.st-joseph__main .search-submit{
    background-color:$color__primary;
    color:$color__text-link;
    border:none;
    padding:4px;
    border-radius:4px;
    border-bottom:4px solid $color__secondary;
}

.st-joseph__footer .secondary-menu > div > ul{
    list-style-type: none;
    padding-left:0px;
}

.st-joseph__footer .secondary-menu > div > ul > li > ul{
    list-style-type: none;
    padding-left:0px;
}

.st-joseph__footer .secondary-menu > div > ul > li > ul > li > a{
    font-weight:300;
}

.st-joseph__footer .secondary-menu > div > ul > li.menu-item{
    display:inline-block;
    vertical-align:top;
    margin-right:20px;
    margin-bottom:20px;
}

.st-joseph__footer .secondary-menu > div > ul > li.menu-item > a{
    text-transform: uppercase;
    border-bottom:1px dotted $color__text-link;
}

.st-joseph__footer .site-info{
    border-top:1px solid $color__border-white;
    padding-top:10px;
}

/* Events Calendar */

.tribe-events .tribe-events-c-view-selector__content{
    background-color:transparent;
}

.tribe-events .tribe-events-c-events-bar__search-filters-container{
    background-color:transparent;
}

.tribe-common-c-btn.tribe-events-c-search__button{
    background-color:$color__primary;
    color:$color__text-link;
    border:none;
    padding:16px;
    border-radius:4px;
    border-bottom:4px solid $color__secondary;
}

.tribe-common-form-control-text__input{
    display:block;
    padding:16px;
    border-radius:4px;
    border:none;
    background-color:white;
    margin:0px;
}

.tribe-events-calendar-month__header{
    background-color:$color__primary;
    text-align:center;
    text-transform: uppercase;
    font-size:14px;
    padding-top:12px !important;
    color:$color__text-link;
    border-bottom:4px solid $color__secondary !important;
}

.tribe-events-calendar-month__header-column-title{
    font-size:16px;
    font-weight:400px;
}

.tribe-events-calendar-month__body{
    border:none !important;
    border-right:1px solid $color__foreground !important;
}

.tribe-events-calendar-month__week{
    border:none !important;
}

.tribe-events-calendar-month__day{
    border:none !important;
    border-left:1px solid $color__foreground !important;
    border-bottom:1px solid $color__foreground !important;
}

.tribe-events-calendar-month__day-date-daynum{
    font-size:18px;
}

.tribe-events-c-top-bar__datepicker-button{
    background-color:$color__primary;
    color:$color__text-link;
    border:none;
    border-radius:4px;
    border-bottom:4px solid $color__secondary;
}

.st-joseph__main .tribe-events-button{
    background-color:$color__primary;
    color:$color__text-link;
    border:none;
    border-radius:4px;
    border-bottom:4px solid $color__secondary;
    padding:10px;
    color:$color__text-link;
    text-decoration:none;
    margin-right:10px;
}

.tribe-common button{
    padding:10px;
}

#comments{
    display:none;
}

.tribe-events-single-section{
    border-top:1px solid $color__border-black;
    margin-top:60px;
    padding-top:20px;
}

.tribe-events-header.tribe-events-header--has-event-search{
    background-color:transparent;
}

.tribe-common .tribe-events-c-events-bar__search-button{
    background-color:transparent;
    color:$color__text-link;
    border:none;
    padding:10px;
    color:$color__text-link;
    text-decoration:none;
    margin:0px;
}

.tribe-common .tribe-events-c-view-selector__button{
    background-color:transparent;
    color:$color__text-link;
    border:none;
    padding:10px;
    color:$color__text-link;
    text-decoration:none;
    margin:0px;
    width:41px;
    height:45px;
}

.tribe-events-calendar-month__day-cell.tribe-events-calendar-month__day-cell--mobile{
    background-color:$color__foreground;
    border:none;
    border-left:1px solid $color__background;
    border-top:1px solid $color__background;
}

.st-joseph__main .tribe-events-c-events-bar__search-filters-container{
    background-color:$color__background;
}

.st-joseph__main .tribe-events-c-view-selector__content{
    background-color:$color__background;
}

.tribe-events-c-nav__next{
    background-color:transparent;
    border:none;
}

.tribe-common-c-btn-icon.tribe-common-c-btn-icon--caret-right.tribe-events-c-top-bar__nav-link.tribe-events-c-top-bar__nav-link--next{
    background-color:transparent;
    border:none;
}